<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Flower Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" media="all"/>
</head>
<body>
    <div id="wrap">
        <div class="header">
            <div class="logo"><a asp-controller="aboutus" asp-action="index"><img src="~/images/logo.gif" alt="" border="0" /></a></div>
            <div id="menu">
                <ul>
                    <li class="selected"><a  asp-controller="home" asp-action="index">home</a></li>
                    <li><a asp-controller="aboutus" asp-action="index">about us</a></li>
                    <li><a asp-controller="product" asp-action="category">flowers</a></li>
                    <li><a asp-controller="product" asp-action="specials">specials gifts</a></li>
                    <li><a asp-controller="account" asp-action="myaccount">my accout</a></li>
                    <li><a asp-controller="account" asp-action="register">register</a></li>
                    <li><a asp-controller="product" asp-action="details">prices</a></li>
                    <li><a asp-controller="contact" asp-action="index">contact</a></li>
                </ul>
            </div>
        </div>
        <div class="center_content">
            <div class="left_content">
                @RenderBody()
            </div>
            <!--end of left content-->
            <div class="right_content">
                <div class="languages_box"> <span class="red">Languages:</span> <a href="http://all-free-download.com/free-website-templates/" class="selected"><img src="~/images/gb.gif" alt="" border="0" /></a> <a href="http://all-free-download.com/free-website-templates/"><img src="~/images/fr.gif" alt="" border="0" /></a> <a href="http://all-free-download.com/free-website-templates/"><img src="~/images/de.gif" alt="" border="0" /></a> </div>
                <div class="currency"> <span class="red">Currency: </span> <a href="http://all-free-download.com/free-website-templates/">GBP</a> <a href="http://all-free-download.com/free-website-templates/">EUR</a> <a href="http://all-free-download.com/free-website-templates/" class="selected">USD</a> </div>
                <div class="cart">
                    @await Component.InvokeAsync("MyCart")
                </div>
                <div class="title"><span class="title_icon"><img src="~/images/bullet3.gif" alt="" /></span>About Our Shop</div>
                <div class="about">
                    <p> <img src="~/images/about.gif" alt="" class="right" /> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
                </div>
                <div class="right_box">
                    @await Component.InvokeAsync("Promotions")
                </div>
                <div class="right_box">
                    @await Component.InvokeAsync("Categories")

                    @await Component.InvokeAsync("Partners")
                </div>
            </div>
            <!--end of right content-->
            <div class="clear"></div>
        </div>
        <!--end of center content-->
        <div class="footer">
            <div class="left_footer">
                <img src="~/images/footer_logo.gif" alt="" /><br />
                <a href="http://csscreme.com"><img src="~/images/csscreme.gif" alt="" border="0" /></a>
            </div>
            <div class="right_footer"> <a href="http://all-free-download.com/free-website-templates/">home</a> <a href="http://all-free-download.com/free-website-templates/">about us</a> <a href="http://all-free-download.com/free-website-templates/">services</a> <a href="http://all-free-download.com/free-website-templates/">privacy policy</a> <a href="http://all-free-download.com/free-website-templates/">contact us</a> </div>
        </div>
    </div>
    <div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div>
</body>
</html>
