
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MyTemplate.cshtml";
}

    <div class="crumb_nav"> <a href="http://all-free-download.com/free-website-templates/">home</a> &gt;&gt; category name </div>
    <div class="title"><span class="title_icon"><img src="~/images/bullet1.gif" alt=""></span>Category products</div>
    <div class="new_products">
        <div class="new_prod_box">
            <a href="http://all-free-download.com/free-website-templates/">product name</a>
            <div class="new_prod_bg"> <a href="http://all-free-download.com/free-website-templates/"><img src="~/images/thumb1.gif" alt="" class="thumb" border="0"></a> </div>
        </div>
        <div class="new_prod_box">
            <a href="http://all-free-download.com/free-website-templates/">product name</a>
            <div class="new_prod_bg"> <span class="new_icon"><img src="~/images/new_icon.gif" alt=""></span> <a href="http://all-free-download.com/free-website-templates/"><img src="~/images/thumb2.gif" alt="" class="thumb" border="0"></a> </div>
        </div>
        <div class="new_prod_box">
            <a href="http://all-free-download.com/free-website-templates/">product name</a>
            <div class="new_prod_bg"> <span class="new_icon"><img src="~/images/promo_icon.gif" alt=""></span> <a href="http://all-free-download.com/free-website-templates/"><img src="~/images/thumb3.gif" alt="" class="thumb" border="0"></a> </div>
        </div>
        <div class="new_prod_box">
            <a href="http://all-free-download.com/free-website-templates/">product name</a>
            <div class="new_prod_bg"> <a href="http://all-free-download.com/free-website-templates/"><img src="~/images/thumb1.gif" alt="" class="thumb" border="0"></a> </div>
        </div>
        <div class="new_prod_box">
            <a href="http://all-free-download.com/free-website-templates/">product name</a>
            <div class="new_prod_bg"> <span class="new_icon"><img src="~/images/promo_icon.gif" alt=""></span> <a href="http://all-free-download.com/free-website-templates/"><img src="~/images/thumb2.gif" alt="" class="thumb" border="0"></a> </div>
        </div>
        <div class="new_prod_box">
            <a href="http://all-free-download.com/free-website-templates/">product name</a>
            <div class="new_prod_bg"> <a href="http://all-free-download.com/free-website-templates/"><img src="~/images/thumb3.gif" alt="" class="thumb" border="0"></a> </div>
        </div>
        <div class="new_prod_box">
            <a href="http://all-free-download.com/free-website-templates/">product name</a>
            <div class="new_prod_bg"> <span class="new_icon"><img src="~/images/new_icon.gif" alt=""></span> <a href="http://all-free-download.com/free-website-templates/"><img src="~/images/thumb2.gif" alt="" class="thumb" border="0"></a> </div>
        </div>
        <div class="new_prod_box">
            <a href="http://all-free-download.com/free-website-templates/">product name</a>
            <div class="new_prod_bg"> <a href="http://all-free-download.com/free-website-templates/"><img src="~/images/thumb1.gif" alt="" class="thumb" border="0"></a> </div>
        </div>
        <div class="new_prod_box">
            <a href="http://all-free-download.com/free-website-templates/">product name</a>
            <div class="new_prod_bg"> <a href="http://all-free-download.com/free-website-templates/"><img src="~/images/thumb1.gif" alt="" class="thumb" border="0"></a> </div>
        </div>
        <div class="new_prod_box">
            <a href="http://all-free-download.com/free-website-templates/">product name</a>
            <div class="new_prod_bg"> <span class="new_icon"><img src="~/images/new_icon.gif" alt=""></span> <a href="http://all-free-download.com/free-website-templates/"><img src="~/images/thumb1.gif" alt="" class="thumb" border="0"></a> </div>
        </div>
        <div class="new_prod_box">
            <a href="http://all-free-download.com/free-website-templates/">product name</a>
            <div class="new_prod_bg"> <a href="http://all-free-download.com/free-website-templates/"><img src="~/images/thumb1.gif" alt="" class="thumb" border="0"></a> </div>
        </div>
        <div class="pagination"> <span class="disabled">&lt;&lt;</span><span class="current">1</span><a href="http://all-free-download.com/free-website-templates/">2</a><a href="http://all-free-download.com/free-website-templates/">3</a>...<a href="http://all-free-download.com/free-website-templates/">10</a><a href="http://all-free-download.com/free-website-templates/">11</a><a href="http://all-free-download.com/free-website-templates/">&gt;&gt;</a> </div>
    </div>
    <div class="clear"></div>