<div class="title">
    <span class="title_icon">
        <img src="~/images/bullet5.gif" alt="">
    </span>Categories
</div>

<ul class="list">
    <li><a href="http://all-free-download.com/free-website-templates/">accesories</a></li>
    <li><a href="http://all-free-download.com/free-website-templates/">flower gifts</a></li>
    <li><a href="http://all-free-download.com/free-website-templates/">specials</a></li>
    <li><a href="http://all-free-download.com/free-website-templates/">hollidays gifts</a></li>
    <li><a href="http://all-free-download.com/free-website-templates/">accesories</a></li>
    <li><a href="http://all-free-download.com/free-website-templates/">flower gifts</a></li>
    <li><a href="http://all-free-download.com/free-website-templates/">specials</a></li>
    <li><a href="http://all-free-download.com/free-website-templates/">hollidays gifts</a></li>
    <li><a href="http://all-free-download.com/free-website-templates/">accesories</a></li>
    <li><a href="http://all-free-download.com/free-website-templates/">flower gifts</a></li>
    <li><a href="http://all-free-download.com/free-website-templates/">specials</a></li>
</ul>