
<div class="title"><span class="title_icon"><img src="~/image/bullet4.gif" alt=""></span>Promotions</div>
<div class="new_prod_box">
    <a href="http://all-free-download.com/free-website-templates/">product name</a>
    <div class="new_prod_bg"> <span class="new_icon"><img src="~/images/promo_icon.gif" alt=""></span> <a href="http://all-free-download.com/free-website-templates/"><img src="../images/thumb1.gif" alt="" class="thumb" border="0"></a> </div>
</div>
<div class="new_prod_box">
    <a href="http://all-free-download.com/free-website-templates/">product name</a>
    <div class="new_prod_bg"> <span class="new_icon"><img src="~/images/promo_icon.gif" alt=""></span> <a href="http://all-free-download.com/free-website-templates/"><img src="../images/thumb2.gif" alt="" class="thumb" border="0"></a> </div>
</div>
<div class="new_prod_box">
    <a href="http://all-free-download.com/free-website-templates/">product name</a>
    <div class="new_prod_bg"> <span class="new_icon"><img src="~/images/promo_icon.gif" alt=""></span> <a href="http://all-free-download.com/free-website-templates/"><img src="../images/thumb3.gif" alt="" class="thumb" border="0"></a> </div>
</div>